@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --Poppins: "Poppins", sans-serif;
  --redColor: #ff4a57;
  --bgColor: #2e343d;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background: var(--bgColor) linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 1.3em 8.3vw;
}
